* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #212426;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: #a1a1a1;
  padding: 0;
}

.app {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  color: rgb(207, 52, 24);
  background-clip: text;
  width: fit-content;
}

.search {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50px;
}

.search input {
  width: auto;
  min-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.75rem;
  border-radius: 3rem;
  background: #1f2123;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.search input {
  flex: 1;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding-right: 1rem;
  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.search button {
  padding: 20px 40px;
  border-radius: 0.5rem;
  margin-left: 15px;
  color: #a1a1a1;
  font-family: var(--font-raleway);
  font-weight: 900;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  cursor: pointer;
  background: #1f2123;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  gap: 3px;
  overflow-x: scroll;
  height: fit-content;
  scroll-behavior: smooth;
}

.movies {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(40, 40, 38);
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.movies:hover {
  transform: scale(1.05, 1.05);
  height: 100%;
  opacity: 100;
}

#trendingContainer img, #trendingContainer2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
  height: 350px;
  width: 250px;
  align-items: center;
  display: flex;
}

#trendingContainer{
  margin-top:13%;
}

#MovieDB {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#page_title {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  z-index: 3;
  width: 650px;
  margin-top: 10px;
}

.dropdown div:hover {
  background-color: #1c1d1f;
}

.dropdown img {
  width: 80px;
  height: 120px;
}

.results {
  background-color: black;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

#media img {
  width: 300px;
}

#media {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#media-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#media-details > p {
  width: 30%;
}

.loginContainer,
.register {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 35%;
  right: 35%;
  display: flex;
  margin: auto;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff61;
  border-radius: 25px;
  color: #000000;
}

.loginContainer > form,
.register > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.userInput,
.registerInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.app {
  width: 100%;
  height: 100%;
  position: absolute;
}

button {
  align-items: center;
  appearance: none;
  background-color: #ce1a1a;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms,
    transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  margin: 5px;
}

button:hover {
  background: #d03535;
  color: #ffffff;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0, rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0, rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

button:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: 0;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup-body {
  min-width: 400px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30%;
  right: 30%;
  top: 5%;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  border-color: black;
  background: rgba(255, 255, 255, 0.902);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.popup-body > h1 {
  font-size: medium;
  padding: 10px;
  color: #212426;
}

.register > h2 {
  margin: 15px;
  padding: 5px;
  width: 90%;
  display: flex;
  justify-content: center;
  color: #7c1616;
}

#media-credits {
  position: absolute;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  bottom: 5%;
  margin: auto;
}

.results > p {
  padding: 15px;
}

.results:nth-last-child(1) {
  right: 0%;
}

#media > div {
  margin-bottom: 20px;
}

.showDetails > img {
  width: 50px;
  height: 350px;
}

.changeDetails {
  display: flex;
  flex-direction: column;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 35px auto;
  background-color: #ffffff61;
  border-radius: 25px;
  color: #000000;
}

.userDetailsDiv{
  bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  width: 90%;
  flex-wrap: wrap;
}
